* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Selly Calligraphy";
  src: url("../assets/fonts/Selly Calligraphy.ttf");
}

nav {
  max-width: 100%;
  margin: auto;
}
.main_container {
  background-color: white;
  padding-bottom: 1rem;
}
.main {
  max-width: 80%;
  margin: auto;
}
body {
  background-color: rgb(235, 233, 233);
}
