nav {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
}

h1 {
  font-family: "Selly Calligraphy";
  font-weight: bold;
}

.header_text {
  align-self: center;
}

.logo {
  width: 64px;
}

.search {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 670px) {
  .search {
    width: 100%;
  }
}
